/* You can add global styles to this file, and also import other style files */

/*@import "~bootstrap/dist/css/bootstrap.css";*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.cursor-pointer {
  cursor: pointer;
}

.l-through {
  text-decoration: line-through;
}

.fs10 {
  font-size: 10px;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}

.wh-20 {
  width: 20px !important;
  min-width: 20px !important;
  height: 20px !important;
  min-height: 20px !important;
}
